<section class="parent-container">
    <div class="pokemon-item-container">
        <h1>{{@pokemon.name}}</h1>
        <img src={{@pokemon.imageUrl}} alt="Error Occured"/>
        <PokemonStats @stats={{@pokemon.stats}}/>
    </div>
</section>