<div class="pokemon-item">
    <LinkTo  @route='pokemon' @model={{@pokemonObj.id}}>
        <img src={{@pokemonObj.imageUrl}} alt="error occured"/>
        <p>{{@pokemonObj.name}}</p>
    </LinkTo>
</div>